
NEXT_PUBLIC_BF_URL=https://cardano-preview.blockfrost.io/api/v0
NEXT_PUBLIC_BF_PID=previewn................
NEXT_PUBLIC_CARDANO_NETWORK=Preview
NEXT_PUBLIC_IDENTIFICATION_PID=973ffbcd6c7553827e7c9c0343adb780d5502553a1427cf8113808db
NEXT_PUBLIC_SIGNER_1=ed25519_sk1......................
NEXT_PUBLIC_SIGNER_2=ed25519_sk1......................
NEXT_PUBLIC_SIGNER_3=ed25519_sk1......................